.filter-field {
  width: 100%;
}

::ng-deep .filter-field .mdc-text-field--outlined {
  border-radius: 20px !important;
}

::ng-deep .filter-field .mat-mdc-text-field-wrapper {
  height: 52px;
}

::ng-deep .filter-field .mat-mdc-form-field-infix {
  min-height: 52px;
  display: flex;
  align-items: center;
}

::ng-deep .filter-field .mat-mdc-select-trigger {
  display: flex;
  align-items: center;
  height: 100%;
}
::ng-deep .filter-field .mat-mdc-select-arrow svg {
fill:rgb(37, 99, 235);
}