.card{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px;

}

.left h3{

color:gray;

margin:0;

font-size:15px;

}

.left h2{

margin-top:10px;

font-size:28px;

}

.icon{

width:60px;

height:60px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

color:white;

}

mat-icon{

font-size:30px;

width:30px;

height:30px;

}