/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/toastr.css';
.mat-mdc-form-field .mat-mdc-text-field-wrapper {
  border-radius: 12px !important;
}

.mat-mdc-form-field .mdc-notched-outline__leading {
  border-radius: 12px 0 0 12px !important;
  width: 12px !important;
}

.mat-mdc-form-field .mdc-notched-outline__trailing {
  border-radius: 0 12px 12px 0 !important;
}
.mat-mdc-text-field-wrapper {
  border-radius: 12px !important;
  overflow: hidden;
}